# Function Application and Mapping

In [ ]:
Import pandas as pd

'a' in data

list(data.items())

data.keys()

data['e'] = 1.25

data


data ['a':'c']

data [0:2]   #slicing by implicit interger index

#masking
data[(data > 0.3) & data < 0.8)]

#fancing indexing
data[['a','e']]

loc
iloc

In [8]:
data = pd.Series(['a','b','c'], index=[1,3,5])
data

1    a
3    b
5    c
dtype: object

In [7]:
#implicit index when indexing
data[1:3]

3    b
5    c
dtype: object

In [6]:
#explicit index when indexing
data[1]

'a'

In [9]:
data.loc[1]

'a'

In [12]:
data.loc[1:3] # explicitly follow

1    a
3    b
dtype: object

In [13]:
data.iloc[1:3] # implicity

3    b
5    c
dtype: object

In [14]:
data.iloc[1] # implicity

'b'

In [20]:
#ta['density'] = data['pop'] / data['area']
#ata

In [ ]:
data.values
data.values[0]

In [ ]:
data.T #transpose

In [ ]:
data.iloc[0, 2] = 90
data

# Function Application and Mapping

In [1]:
import numpy as np
import pandas as pd

In [2]:
frame = pd.DataFrame(np.random.randn(4, 3),
                     columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [3]:
print(frame)

               b         d         e
Utah   -0.001566  0.392006  0.244887
Ohio    0.829457 -0.940840 -0.288063
Texas   0.139505  0.813209 -0.232949
Oregon -0.455585  0.953402 -0.957469

In [4]:
print(np.abs(frame))

               b         d         e
Utah    0.001566  0.392006  0.244887
Ohio    0.829457  0.940840  0.288063
Texas   0.139505  0.813209  0.232949
Oregon  0.455585  0.953402  0.957469

In [5]:
print(frame['d'].min())

-0.9408396957418043

In [18]:
print(frame['d'].max())

-0.18310353276492192

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3),
                     columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(frame)

In [6]:
frame = pd.DataFrame(np.random.randn(4, 3),
                    columns=list('bde'),
                    index=['Utah','Ohio','Texas','Oregon'])
print(frame)
#print(np.abs(frame))

#print(frame["d"].min())
#print(frame["d"].max())
#print(frame["d"].max() -frame["d"]. min())

f = lambda x: x.max() - x.min()

df = frame.apply(f)
print (df, type(df))
#df =frame.apply(f, axis=1)
#print(df)

               b         d         e
Utah   -0.655957  0.458699  0.777296
Ohio   -0.042324 -1.163876  0.547070
Texas  -1.841106  1.552915  0.155173
Oregon -1.501055  0.347081 -1.697769
b    1.798782
d    2.716791
e    2.475065
dtype: float64 <class 'pandas.core.series.Series'>

In [16]:
frame = pd.DataFrame(np.random.randn(4, 3),
                    columns=list('bde'),
                    index=['Utah','Ohio','Texas','Oregon'])
print(frame)
#print(np.abs(frame))

#print(frame["d"].min())
#print(frame["d"].max())
#print(frame["d"].max() -frame["d"]. min())

f = lambda x: x.max() - x.min()

#df = frame.apply(f)
#print (df, type(df))
df =frame.apply(f, axis=1)
print(df)

               b         d         e
Utah   -0.630135 -1.047085  1.692063
Ohio   -0.228238  1.131597 -0.099392
Texas  -0.786204  0.031574 -1.461316
Oregon -2.235328  1.540052  0.976790
Utah      2.739148
Ohio      1.359836
Texas     1.492889
Oregon    3.775380
dtype: float64

In [3]:
def min_max(x):
    minimum = x.min()
    maximum = x.max()
    return pd.Series( [x.max(), x.min() ], index=['min','max'])

df = frame.apply(min_max)
print(df, type(df))

            b         d         e
min  0.968203  1.737207  1.205703
max -1.385600 -0.174845 -0.058403 <class 'pandas.core.frame.DataFrame'>

# Sorting and Ranking

In [28]:
frame = pd.DataFrame(np.arange(8).reshape(2, 4),
                     index= ['three', 'one'],
                     columns=['d','a','b','c',])
print(frame)

print(frame.sort_index(axis=1, ascending=True))

print(frame.sort_index())

#default in sort: axis = 0, ascending = True

       d  a  b  c
three  0  1  2  3
one    4  5  6  7
       a  b  c  d
three  1  2  3  0
one    5  6  7  4
       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [6]:
print(frame.sort_index(axis=1, ascending=True))

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [20]:
print(frame.sort_values(by='b'))
print(frame.rank(ascending=False, method='max'))
print(frame.rank(ascending=True, method='min'))
print(frame.rank(axis='columns'))

               b         d         e
Oregon -2.235328  1.540052  0.976790
Texas  -0.786204  0.031574 -1.461316
Utah   -0.630135 -1.047085  1.692063
Ohio   -0.228238  1.131597 -0.099392
          b    d    e
Utah    2.0  4.0  1.0
Ohio    1.0  2.0  3.0
Texas   3.0  3.0  4.0
Oregon  4.0  1.0  2.0
          b    d    e
Utah    3.0  1.0  4.0
Ohio    4.0  3.0  2.0
Texas   2.0  2.0  1.0
Oregon  1.0  4.0  3.0
          b    d    e
Utah    2.0  1.0  3.0
Ohio    1.0  3.0  2.0
Texas   2.0  3.0  1.0
Oregon  1.0  3.0  2.0

In [ ]:
'''
'average' Default: assign the average rank to each entry in the equal group
'min'
'max'
'first'
'dense'
Use the minimum rank for the whole group
Use the maximum rank for the whole group
Assign ranks in the order the values appear in the data
Like method='min' , but ranks always increase by 1 in between groups rather than the number of equal
elements in a group
'''

In [40]:
# note: use of skipna
df = pd.DataFrame([
                    [1.4, np.nan], [7.1, -4.5],
                    [np.nan, np.nan], [0.75, -1.3]
                    ], index=['a','b','c','d'], columns=['one','two'])

print(df)
print()
print( df.sum())
print()
print( df.sum(axis='columns'))

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

one    9.25
two   -5.80
dtype: float64

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [30]:
print(df)
x = df.mean(axis='columns', skipna=False)
print()
print(x)

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [39]:
#Unique values
df = pd.DataFrame([
            [1.4,1.4,1.5, np.nan], [7.1, -4.5, 1.5, 1.4],
            [1.4, np.nan, 0.5, np.nan], [0.75, -1.3, 1.3, np.nan]
            ], index=['a','b','c','d'], columns=['one','two','three','four'])
                      
                      
print(df)
print(df['one'].unique(), df['two'].unique())
df['one'].value_counts()

    one  two  three  four
a  1.40  1.4    1.5   NaN
b  7.10 -4.5    1.5   1.4
c  1.40  NaN    0.5   NaN
d  0.75 -1.3    1.3   NaN
[1.4  7.1  0.75] [ 1.4 -4.5  nan -1.3]

1.40    2
0.75    1
7.10    1
Name: one, dtype: int64

In [33]:

# unique values
df = pd.DataFrame([
                    [1.4,1.4, 1.5, np.nan], [7.1, -4.5, 1.5, 1.4],
                    [1.4, np.nan, 0.5, np.nan], [0.75, -1.3, 1.3, np.nan]
                   ], index=['a','b','c','d'], columns=['one', 'two', 'three', 'four'])
print(df)

    one  two  three  four
a  1.40  1.4    1.5   NaN
b  7.10 -4.5    1.5   1.4
c  1.40  NaN    0.5   NaN
d  0.75 -1.3    1.3   NaN