# pandas Series has two things in one object
1 Values
2 Index

In [25]:
import pandas as pd

In [4]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [16]:
sales = pd.Series([100, 200, 100, 400])
print(sales.values)
print(sales.index)

[100 200 100 400]
RangeIndex(start=0, stop=4, step=1)

In [18]:
s = pd.Series([100, 200, 100, 400], index = ['a', 'b', 'c', 'd'])
print(s)

a    100
b    200
c    100
d    400
dtype: int64

In [21]:
s = pd.Series([100, 200, 100, 400], index = ['Jan', 'Feb', 'Mar', 'Apr'])
print(s)
print(s.values)
print(s.index)

Jan    100
Feb    200
Mar    100
Apr    400
dtype: int64
[100 200 100 400]
Index(['Jan', 'Feb', 'Mar', 'Apr'], dtype='object')

In [24]:
s = pd.Series([100, 200, 100, 400], index = ['Jan', 'Feb', 'Mar', 'Apr'], name="4 month sales")
print(s)

Jan    100
Feb    200
Mar    100
Apr    400
Name: 4 month sales, dtype: int64

In [ ]:
# Create a pandas series to store a canteen data to hold values of how many sandwiches are sold each days(One Week)

In [3]:
sw = pd.Series([20, 30, 20, 25, 30, 40, 0], index =['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'])
print(sw)

mon    20
tue    30
wed    20
thu    25
fri    30
sat    40
sun     0
dtype: int64

In [6]:
print(sw[1])
print(sw['tue'])
print(sw['sun'])

30
30
0

In [8]:
print(sw[[3, 5]])
print(sw[ [ 'tue', "thu"]])

thu    25
sat    40
dtype: int64
tue    30
thu    25
dtype: int64

In [9]:
print(sw>20)

mon    False
tue     True
wed    False
thu     True
fri     True
sat     True
sun    False
dtype: bool

In [11]:
print(sw[sw>20])

tue    30
thu    25
fri    30
sat    40
dtype: int64

In [4]:
sw*2

mon    40
tue    60
wed    40
thu    50
fri    60
sat    80
sun     0
dtype: int64

In [6]:
print(sw)

mon    20
tue    30
wed    20
thu    25
fri    30
sat    40
sun     0
dtype: int64

In [9]:
sw1 = sw * 2
sw1

mon    40
tue    60
wed    40
thu    50
fri    60
sat    80
sun     0
dtype: int64

In [10]:
sw2 = sw1 /2

In [12]:
sw2

mon    20.0
tue    30.0
wed    20.0
thu    25.0
fri    30.0
sat    40.0
sun     0.0
dtype: float64

In [15]:
'mon' in sw

True

In [16]:
'20' in sw

False

In [23]:
import numpy as np

In [30]:
ar = np.array([3,2,4,5,6])
mn = np.array(['a','b','c','d', 'e'])

obj2 = pd.Series(ar, index = mn)
print(obj2)

a    3
b    2
c    4
d    5
e    6
dtype: int32

In [33]:
sdate = {"Sindh": 35000, "Punjab": 45000, "KPK": 3000, "Balochistan":2000}
tax_by_state = pd.Series(sdate)
print(tax_by_state)
print(tax_by_state.index)

Sindh          35000
Punjab         45000
KPK             3000
Balochistan     2000
dtype: int64
Index(['Sindh', 'Punjab', 'KPK', 'Balochistan'], dtype='object')

In [35]:
sdate = {"Sindh": 35000, "Punjab": 45000, "KPK": 30000, "Balochistan":20000}
tax_by_state = pd.Series(sdate, index = ["Punjab", "Sindh", 'KPK', 'Balochistan',])
print(tax_by_state)
print(tax_by_state.index)

Punjab         45000
Sindh          35000
KPK            30000
Balochistan    20000
dtype: int64
Index(['Punjab', 'Sindh', 'KPK', 'Balochistan'], dtype='object')

# Source for series data 1, direct data, 2, from numpy or list, 3, Dictionary

In [37]:
sdate = {"Sindh": 35000, "Punjab": 45000, "KPK": 30000, "Balochistan":20000}
tax_by_state = pd.Series(sdate, index = ["Punjab", "Sindh", 'KPK', 'Balochistan', 'Gilgit Baltistan'])
print(tax_by_state)
print(tax_by_state.index)
print(pd.isnull(tax_by_state))

Punjab              45000.0
Sindh               35000.0
KPK                 30000.0
Balochistan         20000.0
Gilgit Baltistan        NaN
dtype: float64
Index(['Punjab', 'Sindh', 'KPK', 'Balochistan', 'Gilgit Baltistan'], dtype='object')
Punjab              False
Sindh               False
KPK                 False
Balochistan         False
Gilgit Baltistan     True
dtype: bool

In [43]:
# NaN values mean, values does not exist in pandas series
pd.isnull(tax_by_state) # method
tax_by_state.isnull()

Punjab              False
Sindh               False
KPK                 False
Balochistan         False
Gilgit Baltistan     True
dtype: bool

In [42]:
tax_by_state.isnull()

Punjab              False
Sindh               False
KPK                 False
Balochistan         False
Gilgit Baltistan     True
dtype: bool

In [44]:
pd.isnull(tax_by_state)
tax_by_state.isnull()

Punjab              False
Sindh               False
KPK                 False
Balochistan         False
Gilgit Baltistan     True
dtype: bool

In [46]:
tax_by_state.name = "State tax Paying Capacity"
tax_by_state.index.name = "state name"
print(tax_by_state)
print(tax_by_state.index)

state name
Punjab              45000.0
Sindh               35000.0
KPK                 30000.0
Balochistan         20000.0
Gilgit Baltistan        NaN
Name: State tax Paying Capacity, dtype: float64
Index(['Punjab', 'Sindh', 'KPK', 'Balochistan', 'Gilgit Baltistan'], dtype='object', name='state name')

In [ ]:
sw

In [49]:
sw = pd.Series([20, 30, 20, 25, 30, 40, 0], 
               index =['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'])
print(sw)

sw.index = ['m', 't', 'w', 't', 'f', 's', 's']
print(sw)

mon    20
tue    30
wed    20
thu    25
fri    30
sat    40
sun     0
dtype: int64
m    20
t    30
w    20
t    25
f    30
s    40
s     0
dtype: int64

In [ ]:
aaaaaaaaa